/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/
/*************** 
STYLE GUIDE:
*dark red: 720006 (primary)
*light red: C21D2D
*tan: 917975
*light gray: 92A1A4
*medium gray: 627374
*dark gray: 363C3A (primary)
*black: 0F1717
***************/




/*************** 
BEGIN STYLING
***************/


body{
  background: #363C3A;
  color: white;
  font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* parent container */
main  {

}
.cast{
  text-align: centered;
  display: grid;
  grid-template-columns: 1fr;
}

.trailer img{
  position: absolute;
  top: 0;
  width: 100%;
}
.trailer{
  height: 100%;
  background: #000;
}
.trailer div{
  position: relative;
  bottom: 0;
}



/* Tablet:  
/*************** 
CUSTOM UI CONTROLS
***************/

.plyr--full-ui input[type="range"]{
color: red;
}

.plyr__control--overlaid{
background: red;
}

.plyr--video .plyr__control:hover{
background: red;
}

.plyr--full-ui input[type="range"].plyr__tab-focus::-moz-range-track {

box-shadow: 0 0 0 5px rgba(119, 115, 115, 0.5);
outline: 0;
}
.plyr--video .plyr__controls {
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
}
/*************** 
MEDIA QUERYS
************** */

@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: orange;
         content: "Mobile Size";
    }

    .cast, .info{
      grid-template-columns: 1fr;
      margin: 0 10%;
    }
    
  
}

/* TABLET:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: orange;
       content: "Tablet Size";
  } 
  .cast{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cast, .info{
    margin: 0 10%;
  }
    
}


/* Desktop: 
/* DESKTOP: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen and (min-width: 64em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: orange;
       content: "Desktop Size";
  }
  .cast{
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
  }
.cast, .info{
  margin: 0 15%;
}


/* Wide Desktop: 
/* WIDE DESKTOP: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: orange;
       content: "Wide Desktop Size";
  }
  .cast, .info{
    margin: 0 20%;
  }

}