/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/
/*************** 
STYLE GUIDE:
*dark red: 0F1717 (primary)
*light red: C21D2D
*tan: 917975
*light gray: 92A1A4
*medium gray: 627374
*dark gray: 363C3A (primary)
*black: 0F1717
***************/




/*************** 
BEGIN STYLING
***************/
/* parent container */
main  {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

/* cast of the movie */
.cast{
  display: flex;
  flex-wrap: wrap;
}

/* Media Queries */
/* 
  Mobile: 
  * 320px = 20em
  * 767px = 47.9375em
*/
@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }
    
    .cast {
      text-align: center;
      justify-content: center;
    }
  
}

/*************** 
CUSTOM UI CONTROLS
***************/

.plyr--full-ui input[type="range"]{
  color: red;
}

.plyr__control--overlaid{
  background: red;
}

.plyr--video .plyr__control:hover{
  background: red;
}

.plyr--full-ui input[type="range"].plyr__tab-focus::-moz-range-track {

  box-shadow: 0 0 0 5px rgba(119, 115, 115, 0.5);
  outline: 0;
}


/*************** 
MEDIA QUERYS
************** */


/* TABLET:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  } 
    
}

/* DESKTOP: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* WIDE DESKTOP: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}

